/* ======================================
   MOBILE LANGUAGE SWITCHER
====================================== */

@media (max-width:768px){

header{
    display:none;
}

.mobile-language-switcher{

    position:fixed;

    top:18px;

    right:18px;

    z-index:99999;

    display:flex;

    align-items:center;

    gap:8px;

    font-size:15px;

    font-weight:600;

}

.mobile-language-switcher button{

    background:none;

    border:none;

    color:#fff;

    cursor:pointer;

    font-size:15px;

    font-weight:600;

    padding:0;

}

.mobile-language-switcher span{

    color:#D4AF37;

}

}

/* ==========================================
   MOBILE ARMENIAN & RUSSIAN
========================================== */

@media (max-width:768px){

html[lang="hy"]{

    font-size:70%;

}

html[lang="ru"]{

    font-size:80%;

}

}
