@media (max-width:768px){

.hero{
    padding-top: 180px;
}

.hero-content{
    margin-top: 0;
}

  header{
    background: rgba(15,15,15,.25);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);

    border: none;
    box-shadow: none;
}
}
